In [13]:
import pandas as pd

ads = pd.read_csv("../Data/Social_Network_Ads.csv")

ads.sample(6, random_state=12344).head(6)

      User ID  Gender  Age  EstimatedSalary  Purchased
273  15589449    Male   39           106000          1
7    15694829  Female   32           150000          1
2    15668575  Female   26            43000          0
157  15602373    Male   29            75000          0
393  15635893    Male   60            42000          1
101  15593014    Male   28            59000          0

In [4]:
ads.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [5]:
ads["Purchased"].mean()

0.3575